html {
    font-family: 'Open Sans', sans-serif;
}


/*



p,
a {
    font-weight: 400;
}

.h2 {
    font-size: 40px;
}

.h3 {
    font-size: 28px;
}

.light-300 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
}

.regular-400 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
}

.semi-bold-600 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
}

h1.banner-heading.h1.text-secondary.display-3.mb-0.pb-3.mx-0.px-0.light-300 {
    font-size: 90px;
}

h1.banner-heading.h1.text-secondary.display-3.mb-0.pb-5.mx-0.px-0.light-300.typo-space-line {
    font-size: 50px;
}

.carousel-item {
    background-color: red;
}

.typo-space-line::after,
.typo-space-line-center::after {
    content: "";
    width: 150px;
    display: block;
    position: absolute;
    border-bottom: 5px solid #0810e7;
    padding-top: .5em;
}

.typo-space-line-center::after {
    left: 50%;
    margin-left: -75px;
}

#main_nav .nav-item .nav-link:hover {
    color: rgb(179, 15, 15);
}

#index_banner {
    background-image: url('./../img/banner-bg-01.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    min-height: 60vh;
    width: 100%;
}

#index_banner .carousel-item {
    min-height: 60vh;
}

#index_banner .carousel-control-prev i,
#index_banner .carousel-control-next i {
    color: #ce0a76 !important;
    text-decoration: none;
    font-size: 4em;
}

#index_banner .carousel-inner {
    height: 80vh;
}

#index_banner .carousel-indicators li,
#index_banner .carousel-indicators.active {
    background-color: #090ea7 !important;
}

.service-wrapper .service-footer {
    max-width: 720px;
}

.service-work.card {
    border-radius: 10px !important;
    cursor: pointer;
}

.service-work .service-work-vertical {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 33.33%, rgba(255, 255, 255, 1) 66.66%, rgba(255, 255, 255, 0) 99.99%);
    background-size: 300% 300%;
    background-position: 0% 100%;
    transition: .5s;
}

.service-work .service-work-vertical:hover {
    background-position: 0% 0%;
    transition: .5s;
}

.service-work .service-work-vertical:hover * {
    color: #000;
    border-color: #000;
    transition: .5s;
}

.recent-work.card {
    border-radius: 10px !important;
}

.recent-work .recent-work-vertical {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 33.333%, rgba(97, 84, 199, 1) 66.666%, rgba(255, 255, 255, 0) 99.999%);
    background-size: 300% 300%;
    background-position: 0% 100%;
    transition: .5s;
    cursor: pointer;
}

.recent-work .recent-work-vertical:hover {
    background-position: 0% 0%;
    transition: .5s;
}

.recent-work .recent-work-vertical:hover div.recent-work-content {
    top: 50%;
    margin-top: -2.5em;
    position: absolute;
}

.recent-work .recent-work-vertical:hover * {
    color: white;
    transition: .5s;
}

.service-footer {
    align-items: center;
    text-align: center;
}
*/